NEXT_PUBLIC_SUPABASE_URL=https://muowlkoasslkgpgvqwmj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11b3dsa29hc3Nsa2dwZ3Zxd21qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTczOTQsImV4cCI6MjA5NDg3MzM5NH0.d0h-laSCtE4XF3Rnap8jF6IvfJAJnn2SU7Fax6_l8m0

SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_BASE_URL=http://localhost:3000